@import url(https://fonts.google.com/specimen/Open+Sans);

body {
    font-family: "Open Sans";
    font-size: 1rem;
    margin: 0;
    display: block;
}

@media (orientation: landscape) {
    body {
        font-size: 2vmin;
    }
}


body div {
    margin: 0;
}

#nav-bar {
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#nav-bar #header-img {
    width: 14px;
    height: auto;
}

body img {
    max-width: 100%;
}

#nav-iphone-12 {
    color: #1f1f1f;
    font-size: 1rem;
}

@media (orientation: landscape) {
    #nav-iphone-12 {
        font-size: 20px;
    }
}

.nav-overview, .nav-tech-specs {
    color: #737373;
    font-size: 0.7rem;
    display: none;
}

@media (orientation: landscape) {
    .nav-overview, .nav-tech-specs {
        display: block;
        font-size: 14px;
    }
}


.nav-overview a:visited, .nav-tech-specs a:visited {
    text-decoration: none;
    color: #737373;
}

.nav-tech-specs {
    display: none;
}

@media (orientation: landscape) {
    .nav-tech-specs {
        display: block;
        font-size: 14px;
    }
}


#dropdown {
    display: block;
    font-size: 2rem;
    color: #737373;
}

@media (orientation: landscape) {
    #dropdown {
        display: none;
    }
}


#nav-buy, .buy {
    background-color: #1274e0;
    font-size: 0.7rem;
    color: white;
    border: none;
    padding: 0.3rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1rem;
}

@media (orientation: landscape) {
    #nav-buy, .buy {
        font-size: 14px;
        padding: 6px 20px;
        border-radius: 20px;
    }
}


#nav-buy a:visited, .buy a:visited {
    text-decoration: none;
    color: white;
}

#overview-div {
    background-color: #f2f2f2;
    padding-top: 150px;
}

@media (orientation: landscape) {
    #overview-div {
        padding-top: 60px;
    }
}


#overview-div #overview-subdiv-1 {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

#overview-div img {
    width: 100%;
    height: auto;
}

body img {
    max-width: 100%;
}

#overview-div .overview-content {
    width: 80%;
    text-align: center;
}

@media (orientation: landscape) {
    #overview-div .overview-content {
        width: 50%;
    }
}

.medium {
    font-size: 1.2rem;
    font-weight: bold;
}

@media (orientation: landscape) {
    .medium {
        font-size: 2.4vw;
    }
}


.large {
    font-size: 2.5rem;
    font-weight: bolder;
}

@media (orientation: landscape) {
    .large {
        font-size: 7.2vw;
    }
}


#overview-div #overview-subdiv-2 {
    background-color: #fdf6f1;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: auto;
}

#overview-div #overview-subdiv-2 .big-news-mini-news-text {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}

#overview-div #overview-subdiv-2 .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#overview-div #overview-subdiv-2 .text {
    text-align: center;
}

.big {
    font-size: 1.4rem;
    font-weight: bolder;
}

@media (orientation: landscape) {
    .big {
        font-size: 4vw;
    }
}


#overview-div #overview-subdiv-2 .full {
    grid-column: 1/3;
}

video {
    object-fit: contain;
}

#tech-specs-div {
    color: #75757a;
    font-size: 0.8rem;
    padding: 20px;
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
}

@media (orientation: landscape) {
    #tech-specs-div {
        font-size: 1.2vw;
        padding: 120px 60px;
        gap: 2em;
    }
}


#tech-specs-div .strong {
    color: #1f1f1f;
    font-weight: bold;
    font-size: 1rem;
}

@media (orientation: landscape) {
    #tech-specs-div .strong {
        font-size: 1.4vw;
    }
}


#tech-specs-div img {
    width: 100%;
    height: auto;
}

@media (orientation: landscape) {
    #tech-specs-div img {
        width: 80%;
    }
}


#tech-specs-div .line {
    grid-column: 1/4;
}

#tech-specs-div .display-img {
    width: 100%;
    height: auto;
}

@media (orientation: landscape) {
    #tech-specs-div .display-img {
        width: 50%;
    }
}


#tech-specs-div .twocolumns {
    grid-column: 2/4;
}

#buy-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 30px;
    padding-top: 80px;
}

@media (orientation: landscape) {
    #buy-div {
        padding: 60px;
    }
}


.background1 {
    background-color: #f2f2f2;
}

#buy-div .container {
    border-radius: 10px;
    background-color: white;
    height: auto;
    width: 90vw;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

@media (orientation: landscape) {
    #buy-div .container {
        border-radius: 6px;
        height: 70vh;
        width: 80vw;
        display: grid;
        grid-template-columns: 6fr 4fr;
        grid-template-rows: auto;
    }
}


#buy-div .container .buy-div-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buy-div .container .buy-div-left img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

#buy-div .container .buy-div-right {
    padding: 25px;
    padding-top: 0px;
}

#buy-div .container .buy-div-right form {
    padding-top: 20px;
}

#buy-div .container label {
    font-size: 1em;
}

input[type="text"], input[type="email"], input[type="number"], select {
    width: 100%;
    padding: 1em;
    margin: 1em 0em;
    display: inline-block;
    border: 0.2vmin solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#button-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

button[type="submit"] {
    background-color: #1274e0;
    font-size: 1em;
    border: none;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider.round {
    border-radius: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider.round::before {
    border-radius: 50%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 40vh;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 80%;
}

.close {
    color: #737373;
    float: right;
    font-size: 1rem;
    font-weight: bold;
}

.modal-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#navmodal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-top: 60px;
}

#navmodal-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 40px;
    padding-right: 40px;
    height: 120px;
}

#navmodal-content .nav-link {
    display: block;
    font-size: 1rem;
}
